@model E_ticaret.MvcWebUi.Models.OrderDetailsModel
    @using E_ticaret.MvcWebUi.Entity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <h2>Sipariş Detay Bilgileri</h2>
            <hr />
           

            <dl class="row">
                <dt class="col-sm-3">Sipariş Durumu</dt>
                <dd class="col-sm-9">

                    @using (Html.BeginForm("UpdateOrderState", "Order", FormMethod.Post))
                    {
                        @Html.HiddenFor(i => i.OrderId)
                        <dl class="row">


                            <dt class="col-sm-8">
                                @Html.EnumDropDownListFor(i => i.OrderState, "Sipariş Durumunu Belirle", new { @class = "form-control" })
                            </dt>
                            <dt class="col-sm-4">
                                <button type="submit" class="btn btn-primary " value="Update">Güncelle</button>
                            </dt>
                        </dl>
                    }


                </dd>
                <dt class="col-sm-3">Müşterinin Kullanıcıadı</dt>
                <dd class="col-sm-9">@Model.FullName</dd>
                <dt class="col-sm-3">Sipariş Id</dt>
                <dd class="col-sm-9">@Model.OrderId</dd>
                <dt class="col-sm-3">Sipariş Numarası</dt>
                <dd class="col-sm-9">@Model.OrderNumber</dd>
                <dt class="col-sm-3">Toplam Fiyat</dt>
                <dd class="col-sm-9">@Model.Total.ToString("c")</dd>
                <dt class="col-sm-3">Sipariş Edildiği Tarih</dt>
                <dd class="col-sm-9">@Model.OrderDate</dd>




                <dt class="col-sm-3">Adres Bilgileri</dt>
                <dd class="col-sm-9">
                    @Model.AdresBaslik
                    <hr />
                    @Model.Adres
                    <br />
                    @Model.Sehir -  @Model.Ilce  -  @Model.Telefon
                    <br />
                    @Model.PostaKKodu
                </dd>
                <dt class="col-sm-3">Ürünler</dt>
                <dd class="col-sm-9">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Resim</th>
                                <th>Ürün Adı</th>
                                <th>Miktarı</th>
                                <th>Fiyat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderLines)
                            {
                                <tr>
                                    <td><img src="~/Upload/@item.Image" width="50px;" /></td>
                                    <td>@item.ProductName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Price.ToString("c")</td>
                                    <td><a href="/Home/Details/@item.ProductId" class="btn btn-primary" target="_blank">Ürün Detayları</a></td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </dd>
            </dl>

        </div>
    </div>

</div>

