@model IEnumerable<E_ticaret.MvcWebUi.Models.AdminOrderModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

    <div class="container pb-5 mt-4">
        <h2>Siparişler</h2>
        @if (TempData["mesaj"] != null)
        {
            <div class="aleet alert-success">
                @TempData["mesaj"]
            </div>
        }

        <table class="table table-bordered- table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Sipariş Numarası</th>
                    <th>Sipariş Tarihi</th>
                    <th>Sipariş Durumu</th>
                    <th>Miktar</th>
                    <th>Ürün Sayısı</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.OrderNumber</td>
                        <td>@item.OrderDate</td>
                        <td>@item.OrderState</td>
                        <td>@item.Total</td>
                        <td>@item.Count</td>
                        <td>@Html.ActionLink("Detay", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
<br /><br /><br /><br /><br /><br />